@if (config.hasOwnProperty('toolbar')) {
    <p-toolbar styleClass="mb-4">
      <ng-template #start>
        @if (config.toolbar?.showNew) {
          <p-button
            [label]="config.toolbar?.newLabel || 'New'"
            icon="pi pi-plus"
            class="mr-2"
            (onClick)="onNew.emit(true)"
          />
        }
        @if (config.toolbar?.showDelete) {
          <p-button
            severity="danger"
            [label]="config.toolbar?.deleteLabel || 'Delete'"
            icon="pi pi-trash"
            [outlined]="true"
            (onClick)="onDeleteSelected.emit(selectedItems)"
            [disabled]="!selectedItems.length"
          />
        }
        @for (btn of config.toolbar?.customButtons; track btn.label) {
          <p-button
            [label]="btn.label"
            [icon]="btn.icon"
            [severity]="btn.severity"
            class="ml-2"
            (onClick)="btn.onClick()"
          />
        }
      </ng-template>

      <ng-template #end>
        @if (config.toolbar?.showImport) {
          <!-- <p-fileUpload
            mode="basic"
            accept="*"
            [maxFileSize]="1000000"
            [chooseLabel]="config.toolbar.importLabel || 'Import'"
            class="mr-2 inline-block"
            [chooseButtonProps]="{ severity: 'secondary' }"
            (onSelect)="onImport.emit($event)"
          /> -->
        }
        @if (config.toolbar?.showExport) {
          <p-button
            [label]="config.toolbar?.exportLabel || 'Export'"
            icon="pi pi-upload"
            severity="secondary"
            (onClick)="onExport.emit()"
          />
        }
      </ng-template>
    </p-toolbar>
  }

  <p-table
    #dt
    [value]="data"
    [columns]="config.columns"
    [paginator]="config.paginator"
    [rows]="config.rows || 10"
    [globalFilterFields]="globalFilterFields"
    [tableStyle]="{ 'min-width': config.minWidth || '100rem' }"
    [(selection)]="selectedItems"
    [rowHover]="config.rowHover"
    [loading]="config.loading"
    [scrollable]="config.scrollable"
    [scrollHeight]="config.scrollHeight"
    [styleClass]="config.styleClass"
    [showCurrentPageReport]="config.showCurrentPageReport"
    [size]="'small'"
    [loading]="loading"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    dataKey="id"
    [expandedRowKeys]="expandedRows" 
    (onRowExpand)="onRowExpand($event)" 
    (onRowCollapse)="onRowCollapse($event)"
  >
    @if (config.globalFilter) {
      <ng-template #caption>
        <div class="flex items-start gap-2 justify-between">
          <div>
              <div class="text-2xl leading-8 text-color font-medium">{{title}}</div>
              <div class="mt-1 leading-6 text-muted-color">The analysis list here shows all {{title}}</div>
          </div>
          @if(activeOnes) {
            <div>
              <p-button icon="pi pi-circle-fill text-green-500 animate-pulse" [label]="activeOnes" outlined severity="secondary" />
            </div>
          }

      </div>

      <div class="mt-6 mb-4 flex items-center justify-between">
        <p-iconfield iconPosition="left">
            <p-inputicon class="pi pi-search"> </p-inputicon>
            <input pInputText type="text" (input)="onSearch($event,dt)" placeholder="Search" />
        </p-iconfield>
        <div class="flex items-center gap-3">
            <!-- <p-button icon="pi pi-filter" outlined severity="secondary" /> -->
            <!-- <p-button pT icon="pi pi-refresh" outlined severity="secondary" /> -->
        </div>
    </div>
      </ng-template>
    }

    <ng-template #header>
      <tr>
        @if (config.selectionMode === 'multiple') {
          <th style="width: 3rem">
            <p-tableHeaderCheckbox />
          </th>
        }
        @if(config.expandable) {
          <th style="width: 5rem"></th>
        }
        @for (col of config.columns; track col.field) {
          <th
            [pSortableColumn]="col.filter ? col.field : undefined"
            [style.width]="col.width"
          >
            {{ col.header }}
            @if (col.filter) {
              <p-columnFilter
                    type="text"
                    [field]="col.field"
                    display="menu"/>
            }
          </th>
        }
        @if (showActions) {
          <th style="width: 15rem">Actions</th>
        }
      </tr>
    </ng-template>

    <ng-template #body let-item let-expanded="expanded">
      <tr>
        @if (config.selectionMode === 'multiple') {
          <td>
            <p-tableCheckbox [value]="item" />
          </td>
        }

        @if(config.expandable) {
          <td>
            <p-button type="button" pRipple [pRowToggler]="item" [text]="true" [rounded]="true" [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
        </td>
        }
        @for (col of config.columns; track col.field) {
          <td>
            @switch (col.displayType) {
              @case ('image') {
                <img
                  [src]="col.imageConfig?.baseUrl + item[col.field]"
                  [alt]="col.imageConfig?.alt || item[col.field]"
                  [style.width]="col.imageConfig?.width || '64px'"
                  class="rounded"
                />
              }
              @case ('chip') {
                <p-tag
                  [value]="(col.field === 'isConfigMatched') ? (item[col.field] === null ? 'Not Configured' : item[col.field] ? 'Matched' : 'Not Matched') : item[col.field] ? 'On' : 'Off'"
                  [severity]="item[col.field] ? 'success' : 'danger'"
                />
              }
              @case ('avatar') {
                <p-avatar
                  [image]="item[col.field]"
                  shape="circle"
                  [size]="col.imageConfig?.width || 'normal'"
                />
              }
              @case ('currency') {
                {{ item[col.field] | currency: col.currencyCode || 'USD' }}
              }
              @case('date') {
                {{ (item[col.field] | date:'medium') || '-' }}

              }
              @default {
                {{ item[col.field] || '-' }}
              }
            }
          </td>
        }
        @if (showActions) {
          <td>
            @if(config.actions?.showEdit) {
              <p-button
              icon="pi pi-pen-to-square"
              text
              [severity]="'info'"
              [pTooltip]="'Edit'"
              tooltipPosition="bottom"
              [size]="'small'"
              (click)="handleActionClick('edit', item)"
              />
            }

            @for (btn of config.actions?.customButtons; track btn.key) {
              <p-button
                text
                [pTooltip]="btn.tooltip"
                tooltipPosition="bottom"
                [icon]="btn.icon"
                [severity]="btn.severity"
                (onClick)="handleActionClick(btn.key, item)"
              />
            }
          </td>
        }
      </tr>
    </ng-template>


    <ng-template #expandedrow let-item>
      <tr>
          <td colspan="7">
              <div class="p-4">
                  <div class="mb-4 text-md leading-8 text-muted-color font-semibold">Command List for {{ item.name }}</div>
                  <p-table [value]="item.nested" [rows]="10" [paginator]="true"
                  [tableStyle]="{ 'min-width': config.minWidth || '100rem' }"
                  showGridlines="true"
                  [rowHover]="config.expandableRowHover"
                  [scrollable]="config.scrollable"
                  [scrollHeight]="config.scrollHeight"
                  [styleClass]="config.styleClass"
                  [showCurrentPageReport]="config.showCurrentPageReport"
                  [size]="'small'"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                  dataKey="id">
                      <ng-template #header>
                          <tr>
                            @for (col of config.expandableColumns; track col.field) {
                              <th
                              >
                                {{ col.header }}
                              </th>
                            }
                            @if(config.showExpandableActions){
                              <th style="width: 15rem">Actions</th>
                            }
                          </tr>
                      </ng-template>
                      <ng-template #body let-item>
                          <tr>
                            @for (col of config.expandableColumns; track col.field) {
                              <td>{{item[col.field] || '-'}}</td>
                            }
                            @if (config.showExpandableActions) {
                              <td>
                                @if(config.expandableActions?.showEdit) {
                                  <p-button
                                  icon="pi pi-pen-to-square"
                                  text
                                  [severity]="'info'"
                                  [pTooltip]="'Edit'"
                                  tooltipPosition="bottom"
                                  [size]="'small'"
                                  (click)="handleNestedActionClick('nested_edit', item)"
                                  />
                                }
                              </td>
                            }
                          </tr>
                      </ng-template>
                      <ng-template #emptymessage>
                          <tr>
                              <td colspan="6">No Data Found.</td>
                          </tr>
                      </ng-template>
                  </p-table>
              </div>
          </td>
      </tr>
  </ng-template>

     <ng-template #loadingicon>
       <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>
      </ng-template>


      <ng-template #emptymessage>
        <tr>
            <td>
              No Data Found.
                
            </td>
        </tr>
    </ng-template>

    @if (showSummary) {
      <!-- <ng-template #summary>
        <div class="flex items-center justify-between">
          In total there are {{ data ? data.length : 0 }} items.
        </div>
      </ng-template> -->
    }
    
  </p-table>