/* You can add global styles to this file, and also import other style files */

@import "primeicons/primeicons.css";
@import 'leaflet/dist/leaflet.css';
@import 'leaflet.markercluster/dist/MarkerCluster.Default.css';
@import 'leaflet.markercluster/dist/MarkerCluster.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* Custom Scrollbar Styles */
    /* For Webkit Browsers */
    ::-webkit-scrollbar {
      width: 0.5rem; /* Equivalent to w-2 */
    }
  
    ::-webkit-scrollbar-track {
      border-radius: 9999px; /* Equivalent to rounded-full */
      background: #f3f4f6; /* Equivalent to bg-gray-100 */
    }
  
    ::-webkit-scrollbar-thumb {
      border-radius: 9999px; /* Equivalent to rounded-full */
      background: #d1d5db; /* Equivalent to bg-gray-300 */
    }
  
    /* Dark Mode Styles */
    @media (prefers-color-scheme: light) {
      ::-webkit-scrollbar-track {
        background: #374151; /* Equivalent to bg-neutral-700 */
      }
  
      ::-webkit-scrollbar-thumb {
        background: #6b7280; /* Equivalent to bg-neutral-500 */
      }
    }
  }


html {
    font-family: "Roboto", serif;
    font-size: 14px;
}

