
    <div class="flex flex-wrap gap-4 items-start justify-between p-1">
        <div class="flex-1">
            <div class="text-muted-color font-medium leading-normal">Overview</div>
            <div class="text-color text-3xl font-semibold leading-normal">Welcome to Maintainance</div>
        </div>
        <div class="flex gap-2 whitespace-nowrap flex-nowrap">
            
            <p-button severity="secondary" outlined>
                <p-overlayBadge severity="danger" styleClass="!min-w-0 !w-2.5 !h-2.5">
                    <i class="pi pi-bell"></i>
                </p-overlayBadge>
            </p-button>
        </div>
    </div>